SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/cher_test
SPRING_DATASOURCE_USERNAME=byronslater
SPRING_DATASOURCE_PASSWORD=
SPRING_FLYWAY_URL=jdbc:postgresql://localhost:5432/cher_test
SPRING_FLYWAY_USER=byronslater
SPRING_FLYWAY_PASSWORD=
