SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/cher_test
SPRING_DATASOURCE_USERNAME=megan
SPRING_DATASOURCE_PASSWORD=
SPRING_FLYWAY_URL=jdbc:postgresql://localhost:5432/cher_test
SPRING_FLYWAY_USER=megan
SPRING_FLYWAY_PASSWORD=
