<div class="dropdown">
  <div tabindex="0" role="button" class="btn m-1">
    Choose a theme..
    <svg
      width="12px"
      height="12px"
      class="inline-block h-2 w-2 fill-current opacity-60"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 2048 2048"
    >
      <path
        d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
      ></path>
    </svg>
  </div>
  <ul
    tabindex="-1"
    class="dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl"
  >
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Default"
        value="fit-for-all-light"
        th:hx-post="${#authorization.expression('isAuthenticated()')} ? '/theme/fit-for-all-light' : null"
        hx-swap="none"
        oninput="localStorage.setItem('theme', 'fit-for-all-light')"
        onload="this.selected = true"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Dark mode"
        value="fit-for-all-dark"
        th:hx-post="${#authorization.expression('isAuthenticated()')} ? '/theme/fit-for-all-dark' : null"
        hx-swap="none"
        oninput="localStorage.setItem('theme', 'fit-for-all-dark');"
      />
    </li>
  </ul>
  <script>
    /**
     * Set the correct theme dropdown to be selected on page load, located
     * right after the html element itself for encapsulating and for speed
     *
     * IIFE to prevent global scope
     */
    ;(() => {
      let tr = document.querySelector(
        `input[name="theme-dropdown"][value="${localStorage.getItem('theme')}"]`
      )

      if (tr) {
        tr.checked = true
      }
    })()
  </script>
</div>
