<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title>FitForAll</title>
    <th:block th:replace="~{fragments/head.html :: head}"></th:block>
  </head>

  <body
    class="min-h-screen bg-base-100"
    hx-boost="true"
    hx-target="#main"
    hx-select="#main"
    hx-swap="outerHTML"
    th:hx-headers='|{"${_csrf.headerName}": "${_csrf.token}"}|'
  >
    <div id="main" class="bg-base-100 h-dvh flex flex-col overflow-hidden">
      <main
        th:with="loggedIn=${#authorization.expression('isAuthenticated()')}"
        class="grid grid-cols-[1fr] flex-1 min-h-0"
        th:classappend="${loggedIn} ? 'md:grid-cols-[auto_1fr]' : ''"
      >
        <div
          class="col-start-1 px-8 pb-20 md:pb-6 h-full overflow-y-scroll"
          th:classappend="${loggedIn} ? 'md:col-start-2' : ''"
        >
          <div th:replace="~{fragments/auth-header.html}"></div>
          <div layout:fragment="content"></div>
        </div>

        <footer class="md:row-start-1 md:col-start-1" th:if="${loggedIn}">
          <div th:replace="~{fragments/auth-footer.html}"></div>
        </footer>
      </main>
    </div>
  </body>
</html>
