<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
  </head>
  <body class="w-dvw h-dvh bg-base-100">
    <header
      class="px-10 py-12 w-full bg-primary text-primary-content flex flex-row max-w justify-around"
    >
      <p class="text-3xl">Home</p>
      <p class="text-3xl">About us</p>
      <p class="text-3xl">Contact</p>
      <p class="text-3xl">Login</p>
    </header>

    <footer></footer>
  </body>
</html>
